.keyframe-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222326;
}

.keyframe-padding {
    position: absolute;
    height: 100%;
    background-color: #141516;
    z-index: 900;
}
  
  
.keyframe-path {
    fill: none;
    stroke: cornflowerblue;
    stroke-width: 2;
}

.keyframe-path-1 {
    fill: none;
    stroke: cornflowerblue;
    stroke-width: 2;
}

.keyframe-path-2 {
    fill: none;
    stroke: rgb(237, 100, 100);
    stroke-width: 2;
}


.keyframe-point {
    background-color: #ffffff;
    border-radius: 16px;
    width: 8px;
    height: 8px;
}
