@import "../var";

$timeline-cursor-width: 1.6px;
$timeline-cursor-color: #cbd1d79d;

.timeline-ruler {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 1rem;
  height: 2rem;
  padding: 0rem;
  margin: 0rem;
  cursor: default;
  color: #dddddd;
  background-color: $background-color;
  z-index: 300;
}

element-timeline-ruler {
  z-index: 200 !important;
}

element-timeline-cursor {
  position: absolute;
  z-index: 90;
  width: $timeline-cursor-width;
  height: 100%;
  background-color: $timeline-cursor-color;
  z-index: 6000;
}

element-timeline-cursor::after {
  position: absolute;
  display: block;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: $timeline-cursor-color;
  content: " ";
  left: -200%;
  top: 0;
  width: calc($timeline-cursor-width * 5);
  height: 17px;
}

element-timeline-ruler > canvas {
  background-color: $background-color;
}

element-timeline-end {
  position: absolute;
  top: 9px;
  z-index: 90;
  width: 1.6px;
  height: 100%;
  background-color: rgba(245, 45, 45, 0.616);
}

// background-image:
//   linear-gradient(90deg, var(--ruler1-sec-c) 0 var(--ruler1-sec-bdw), transparent 0),
//   linear-gradient(90deg, var(--ruler2-sec-c) 0 var(--ruler2-sec-bdw), transparent 0);
// background-position: 0 0;
// background-repeat: repeat-x, repeat-x;
// background-size:
//   calc(var(--ruler-sec-unit) * var(--ruler1-sec-space) * var(--ruler-sec-x)) var(--ruler1-sec-h),
//   calc(var(--ruler-sec-unit) * var(--ruler2-sec-space) * var(--ruler-sec-x)) var(--ruler2-sec-h),
//   var(--ruler1-sec-h) calc(var(--ruler-sec-unit) * var(--ruler1-sec-space) * var(--ruler-sec-y)),
//   var(--ruler2-sec-h) calc(var(--ruler-sec-unit) * var(--ruler2-sec-space) * var(--ruler-sec-y));

$ruler-num-c: #888;
$ruler-num-fz: 10px;
$ruler-num-pi: 0.75ch;
$ruler-unit: 4px;
$ruler-x: 1;
$ruler-y: 1;

$ruler1-bdw: 1px;
$ruler1-c: #bbb;
$ruler1-h: 8px;

$ruler2-bdw: 1px;
$ruler2-c: #bbb;
$ruler2-h: 20px;

@mixin ruler() {
  background-image: linear-gradient(
      90deg,
      $ruler1-c 0 $ruler1-bdw,
      transparent 0
    ),
    linear-gradient(90deg, $ruler2-c 0 $ruler2-bdw, transparent 0);
  background-position: 0 0;
  background-repeat: repeat-x, repeat-x;
  background-size: calc($ruler-unit * var(--ruler1-space) * $ruler-x) $ruler1-h,
    calc($ruler-unit * var(--ruler2-space) * $ruler-x) $ruler2-h,
    $ruler1-h calc($ruler-unit * var(--ruler1-space) * $ruler-y),
    $ruler2-h calc($ruler-unit * var(--ruler2-space) * $ruler-y);
  @content;
}

@mixin rulerX() {
  color: $ruler-num-c;
  counter-reset: d var(--ruler3-space-minus);
  display: flex;
  font-size: $ruler-num-fz;
  height: $ruler2-h;
  inset-block-start: 0;
  inset-inline-start: calc($ruler-unit * var(--ruler2-space));
  line-height: 1;
  list-style: none;
  margin: 0;
  opacity: $ruler-x;
  overflow: hidden;
  padding: 0;
  width: 100%;

  & li {
    align-self: flex-end;
    counter-increment: d var(--ruler3-space);
    flex: 0 0 calc($ruler-unit * var(--ruler2-space));
  }

  & li::before {
    content: counter(d);
    line-height: 1;
    padding-inline-start: $ruler-num-pi;
  }

  & li::after {
    content: var(--ruler-standard-unit);
  }

  @content;
}

.ruler {
  --ruler1-space: 5;
  --ruler2-space: 50;
  --ruler3-space: 1;
  --ruler3-space-minus: -1;

  @include ruler();
}

.ruler-x {
  --ruler-standard-unit: "s";

  @include rulerX();
}

// .ruler-min {
//   --ruler-min-num-c: #888;
//   --ruler-min-num-fz: 10px;
//   --ruler-min-num-pi: 0.75ch;
//   --ruler-min-unit: 4px;
//   --ruler-min-x: 1;
//   --ruler-min-y: 1;

//   --ruler1-min-bdw: 1px;
//   --ruler1-min-c:  #BBB;
//   --ruler1-min-h: 8px;
//   --ruler1-min-space: 1;

//   --ruler2-min-bdw: 1px;
//   --ruler2-min-c:  #BBB;
//   --ruler2-min-h: 20px;
//   --ruler2-min-space: 10;
//   --ruler3-min-space: 1;

// background-image:
//   linear-gradient(90deg, var(--ruler1-min-c) 0 var(--ruler1-min-bdw), transparent 0),
//   linear-gradient(90deg, var(--ruler2-min-c) 0 var(--ruler2-min-bdw), transparent 0);
// background-position: 0 0;
// background-repeat: repeat-x, repeat-x;
// background-size:
//   calc(var(--ruler-min-unit) * var(--ruler1-min-space) * var(--ruler-min-x)) var(--ruler1-min-h),
//   calc(var(--ruler-min-unit) * var(--ruler2-min-space) * var(--ruler-min-x)) var(--ruler2-min-h),
//   var(--ruler1-min-h) calc(var(--ruler-min-unit) * var(--ruler1-min-space) * var(--ruler-min-y)),
//   var(--ruler2-min-h) calc(var(--ruler-min-unit) * var(--ruler2-min-space) * var(--ruler-min-y));
// }

// .ruler-min-x {
//   color: var(--ruler-min-num-c);
//   counter-reset: d -1;
//   display: flex;
//   font-size: var(--ruler-min-num-fz);
//   height: var(--ruler2-min-h);
//   inset-block-start: 0;
//   inset-inline-start: calc(var(--ruler-min-unit) * var(--ruler2-min-space));
//   line-height: 1;
//   list-style: none;
//   margin: 0;
//   opacity: var(--ruler-min-x);
//   overflow: hidden;
//   padding: 0;
//   width: 100%;
// }

// .ruler-min-x li {
//   align-self: flex-end;
//   counter-increment: d var(--ruler3-min-space);
//   flex: 0 0 calc(var(--ruler-min-unit) * var(--ruler2-min-space));
// }

// .ruler-min-x li::before {
//   content: counter(d);
//   line-height: 1;
//   padding-inline-start: var(--ruler-min-num-pi);
// }

// .ruler-min-x li::after {
//   content: "m";

// }
